.body {
  margin: 10px 100px 20px;
  padding: 5px 25px 10px;
}

/* top right+left bottm */

h4 {
  margin: 5px;
}

.deco{
  color:#fa6400;
}

.form-section {
  height: 400px;
  margin-bottom: 40px;
}

/* Form */
.enter {
  width: auto;
}

.button-section {
  height:70px;
}

textarea {
  width: 100%;
  border: 3px solid black;
  border-radius: 10px;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inline-flex; */
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  /* line-height: 1.25; */
  margin: 0;
  /* min-height: 3rem; */
  padding: calc(.875rem - 3px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 100%;
  float:right;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* response */

/* Entry */
.entry-block {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  display: flex;
  flex-direction: column;
}

.prompt-area {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Response-area{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.def {
  font-weight: bold;
  /* width: 20%; */
  flex: 1 0 20%;
}

.explain {
  /* width: 80%; */
  flex: 1 0 80%;
}